.coins-sell{
    display: flex;
    color: bisque;
    height: 75vh;
}
.sell-container{
    padding: 10%;
}
.img__wrapper{
    width: 100px;
    height: 150px;
    position:relative;
    overflow:hidden;
  }
 
  .sold_out {
        
      top: 2em;
      left: -4em;
      color: #fff;
      display: none;
      position:absolute;
      text-align: center;
      text-decoration: none;
      letter-spacing: .06em;
      background-color: #A00;
      padding: 0.5em 5em 0.4em 5em;
      text-shadow: 0 0 0.75em #444;
      box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
      font: bold 16px/1.2em Arial, Sans-Serif;
      -webkit-text-shadow: 0 0 0.75em #444;
      -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
      -webkit-transform: rotate(-45deg) scale(0.75,1);
      z-index:10;
  }
  .sold_out:before {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      margin: -0.3em -5em;
      transform: scale(0.7);
      -webkit-transform: scale(0.7);
      border: 2px rgba(255,255,255,0.7) dashed;
  }