.coins-sell{
    display: flex;
    color: bisque;
    height: 75vh;
}
.sell-container{
    padding: 10%;
}
.img__wrapper{
    width: 100px;
    height: 150px;
    position:relative;
    overflow:hidden;
  }
 