.container {
  max-width: 400px;
  margin: 0 auto;
  color: gold;
}

h2 {
  margin-top: 3rem;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
  color: antiquewhite;
}

.bank-form form {
  display: flex;
  flex-direction: column;
  margin-left:10rem;
  margin-right: 10rem;
  margin: 20px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

/* input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

button {
  padding: 8px 16px;
  background-color: #da95265f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d29614ae;
}

/* button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} */