.container {
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  margin-top: 3rem;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-left:10rem;
  margin-right: 10rem;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3367d6;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}