
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.blue { color: #12120f; }
.yellow { color: #131312; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #171614;
  font-size: larger;

}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
  color: #171614;
  font-size: larger;

}

.container {
	  text-align: left;
	  overflow: hidden;
	  /* width: 70%; */
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  /* padding-bottom: 2%; */
	  /* padding-top: 2%;
  padding-left:2%;   */
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #d2d1cc;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #e4b178;
}

.container th {
	  background-color: #f8debeea;
}

.container td:first-child { color: #1c1919; }

.Buy-now:hover {
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}
.Buy-now{
  border-radius: 10%;
}
.Buy-now:hover {
  background-color: #d01919;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

@media screen and (min-width: 400px) and (max-width: 1024px) {
  .cryptos-list{
 padding: 1rem;
      width: 100vw;
      height: 30vh;
  }
 .th {
  display: none;
 }
 
  
}
