*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.color{
    color: green;
    background-color:red;
    width: 10px;
    height: 10px;
}
/* .container{

    height:50%;
    margin-left: 5%;
    margin-right: 5%; 
 } */
 .profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
 }
.logo img{

    position:absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
}
/* Navbar section */

.nav{
    width: 100%;
    padding-top: 1rem;
    height: 10vh;
    position: relative;
    border-radius: 25%;
    /* line-height: 65px; */
    text-align: center;
    background-color: rgba(13, 13, 14, 0.29);
}



.nav div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: #c0c0c0;
}

.nav div.main_list{
    width: 80%;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width:200px;
    height: 65px;

}
.link{
    padding: 10px;
}
.nav div.main_list ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
    color: #c0c0c0;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
    margin-right: 2rem;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 3px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
  padding-right: 40px;
  
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

/* Medai qurey section */


/* 
@media screen and (max-width:768px) {
   
    .container{
        margin: 0;
        width: 100vw;
    }
    
    .nav div.logo{
        position: fixed;
        left: 0;    }
  
    .nav div.main_list{
        width: 100%;
        height: 1rem;
        margin-top: 65px;
        overflow:inherit;
        font-size: small;   
     
    }
    
    .nav .container .show_list{
        height: 200px;
        width: 100vw;
        position: fixed;
        left: 0;
        
    }
    
 
    .nav div.main_list ul li{

margin-top:10px;

}

    
    .nav div.main_list ul li a{
      text-align: center;
        line-height: 23px;
        width: 100%;
      
        display: table;
        color: rgb(216, 211, 199);
         padding-right: 1rem;
      
   
    }
        .nav div.main_list ul li a:hover{
          color: white;
    }
    
    .nav div.media_button{
        display: block;
    }
   

    }
    */

    @media screen and (min-width: 300px) and (max-width: 1024px) {
      
  
    .nav{
        width: 100vw;
    }
    .nav div.logo{
        position: fixed;
        left: 0;    }
  
    .nav div.main_list{
        height: 1rem;
        margin-top: 65px;
        overflow:inherit;
        font-size: small;   
    }
    
    .nav .container .show_list{
        height: 200px;
        width: 100vw;
        position: fixed;
        left: 0;
        
    }
    
 
    .nav div.main_list ul li{

margin-top:10px;

}

    
    .nav div.main_list ul li a{
      text-align: center;
        line-height: 20px;
        width: 100%;
      font-size: medium;
        display: table;
        color: rgb(216, 211, 199);
         /* padding-right: 1rem; */
   
    }
        .nav div.main_list ul li a:hover{
          color: white;
    }
    
    .nav div.media_button{
        display: block;
    }
        
    }