@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
.home{
    /* width: 100vw;
    height: 100%; */
    /* background: #0b5955 linear-gradient(45deg, #000000, #101618 57%,) repeat scroll 0 0; */
}

  .news-text{
                background-color: black;
                box-shadow:10px 5px 5px  #171716;
                height: 30vh;

  }
 
.image{
    height: 100%;
    border-radius: 5%;
}  
.link{
    text-decoration: none;
color:white;
font-size: large;

}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: hsl(41, 83%, 23%);
  --bg-color: #141218;
}

* {
  box-sizing: border-box;
}


.hover-btn {
  position:relative;
  padding: 10px 20px;  
  border: none;
  background: none;
  cursor: pointer;
  
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;  
  color: var(--text-color);
  
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px; 
  z-index: 0;  
  overflow: hidden;   
}

.hover-btn:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after, .hover-btn::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events:none;
}

.hover-btn::after{
  font-weight: 200;
  top: -30px;
  left: -20px;
} 

.right, .left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.right {
  left: 66%;
}
.left {
  right: 66%;
}
.right::after {
  top: -30px;
  left: calc(-66% - 20px);
  
  background-color: var(--bg-color);
  color:transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg)
}

.hover-btn:hover .right::after {
  transform: translate(0, -47%) rotate(0deg)
}

.hover-btn .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg)
}

.hover-btn .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg)
}

/* bubbles */
.hover-btn::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}
.news-box{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;  
font-size: large;
    padding-left: 25rem;

}
.d-block{
    width: 25vw;
}
.large-cta-section {
    box-shadow: 0 6px 12px -4px #DAA520 inset;
    text-align: center;
    z-index: 1;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.medium-large-wrapper{
    padding-top: 50px;
}
.h2.large {
    display: inline-block;
    font-size: 5em;
    font-family: "Roboto",sans-serif;
}
.white {
    color: #fff;
}
.h2 > .yellow {
    color: #f5ee33;
    font-weight: 600;
}
.h3 {
    font-family: "Roboto",sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.8rem;
    margin-top: 10px;
}

.footer-cta-link::after {
    background-image: url("https://neverbounce.com/images/background-images/yellow-airplane-left.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -10em;
    content: "";
    display: block;
    height: 10em;
    left: -8.5em;
    pointer-events: none;
    position: relative;
    width: 7em;
}

.cta-link {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    letter-spacing: 2px;
    line-height: 1rem;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 4em;
    padding: 0.88rem 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    /* transition: background 0.2s ease-in-out 0s; */
    vertical-align: middle;
}
a.cta-link:hover{
    background: #f5ee33;
    text-decoration: none;
}



.cta-teal-airplane {
    opacity: 0.8;
  
    width: 9rem;
    height: 8rem;
    border-radius: 100%;
    pointer-events: none;
    position: absolute;
    right: 60px;
    top: 11em;
    z-index: 4;
}

.review-form{
width: 100%;
margin-top: 2rem;
display: flex;
flex-direction: column;
padding-left: 1rem;
padding-right: 2.4rem;
}

.review-read-write {
  
   margin-left: 20vw;
   margin-right: 20vw;
}
.review-read {
border-bottom: 1px solid  #d2d1cc; 
}
.review-label {
    margin-top: 1rem;
    padding: 10px;
    color: rgb(171, 139, 57);
   text-align: center;
   font-family: "Roboto",sans-serif;
    font-size: 1.4rem;
   
}
.review-area {
     background-color:  #fff; 
     border-radius: 5px;
}
.review-btn {
   margin-top: 1rem;
   margin-bottom: 1rem;
   
    background-color: goldenrod;
    color: black;
    font-size: 1.4rem;
    font-family: "Roboto",sans-serif;
    border-radius: 5px;

}
.review-btn:hover{
    background-color: #a77a08;
}
@media screen and (min-width: 300px) and (max-width: 1024px) {
    .d-block{

        width: 100vw;
        height: 30vh;
    }
    .card-item{
        width: 50vw;
        height: 30vh;
        padding: 1rem;
    }
   .news-box{
    display: none;
   }
    
}