@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);


.home{

        /* solid background */
        background: rgb(0,212,255);
        
        /* gradient background*/
        background: linear-gradient(45deg, rgba(0,212,255,1) 0%, rgba(11,3,45,1) 100%);    
 
}

.container-fluid  {
    width: 90%;
    margin: auto;
    display: flex;
  }
  
  .home  {
    
  }
  .cards-container  {
    width: 20rem;
  }
  .news-text{
/* padding-left: 50%; */
background: linear-gradient(45deg, rgba(0,212,255,1) 0%, rgba(11,3,45,1) 100%);    
  }
 
.image{
    width: 20rem;
    height: 15rem;
}  
.link{
    text-decoration: none;

}