.login-form{
  color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 73.3vh;
  /* padding: 2rem;/ */
}
.login-form div{
  
height: 5rem;
align-self: center;
width: 50%;
}
 .form{
background-color: aqua;
}
.mb-3{
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 position: absolute;
 bottom: 200px;
 padding-left: 15%;
}
.registration-text{
 padding-left: 15%;

}
.btn{
background-color: antiquewhite;
  height: 1.5rem;
}