.login-form{
    height: 74vh;
}
.card{

background-color:rgb(212, 159, 25);
}

@media screen and (min-width: 400px) and (max-width: 1024px) {
    .login-form{
        height: 100%;
    }
    .login-form{
        padding: 1rem;
    }
.login-img{
    
padding-top: 5rem;}
}
@media screen and  (max-width: 400px) {
    .login-form{
        padding: 1rem;
    }
.login-img{
    
padding-top: 5rem;}
}