.login-form{
  color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100vw; */
  height: 80vh;
  /* padding: 2rem;/ */
}
.login-form div{
  
height: 5rem;
align-self: center;
width: 50%;
}

.mb-3{
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 /*  */
 padding-left: 15%;
}
.registration-text{
 padding-left: 15%;

}

@media screen and (min-width: 400px) and (max-width: 1024px) {
  .login-form{
    padding: 10%;

      width:90vw;
      height: 100vh;
  }
 .login{
  width: 15rem;
  position: relative;
  right: 10rem;
 }

 
  
}
