@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
html {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #fff;
} */
/* 
body {
  min-height: 100vh;
  /*background-color: dodgerblue;*/
 /* background: #1e9fc4 linear-gradient(45deg, #2b2b3b, #101618 57%, #0b5955)
    repeat scroll 0 0;
  box-shadow: 0 6px 12px -4px rgba(54, 56, 66, 0.25) inset;
  text-align: center;
  z-index: 1;
  height: 400px;
  position: relative;
  overflow: hidden;
} */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 1rem 0.5rem;
}
/* 
section {
  width: 100%;
  max-width: 420px;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  padding-top: 1%;
  padding-bottom: 4%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
button,
select,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  padding: 0.18rem;
  border-radius: 0.5rem;
  background-color: rgb(223, 239, 240);
}

input[type="submit"],
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  padding: 0.18rem;
  border-radius: 0.5rem;
  background: #1e9fc4 linear-gradient(45deg, #2b2b3b, #101618 57%, #0b5955)
    repeat scroll 0 0;
  box-shadow: 0 6px 12px -4px rgba(54, 56, 66, 0.25) inset;
  color: #fff;
}

select {
  color: dimgray;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
} */

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}