
.card-internal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius:10px ;

  padding-top: 2rem;
  padding-bottom: 2rem;
background-color:bisque
}
  
  .section-gold-card {
    display: grid;
grid-template-columns: 0.6fr 1.2fr;
    background-color: rgb(178, 140, 91);
    border-radius:10px ;
   gap: 1rem;
   margin-left: 2rem;
  }
 .section-my-notes{
display: flex;
flex-direction: column;
align-items: center;
padding-left: 1rem;
padding-right: 1rem;
background-color: bisque;
 }


 .my-notes-text{
  margin-top: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.6rem;
 }


.profile-picture {
  margin-top: 2rem;
  margin-left: 2rem;
 
  
}
.profile-picture img {
  width: 160px;
  height: 180px;
  object-fit: cover;
}

.profile-data {
margin-top: 2rem ;
}


.icon-edit {
  background-color: rgb(178, 140, 91);

  color: black;
  margin-left:0.5rem ;

}
.icon-edit:hover {
  background-color: rgb(178, 140, 91);
  color: black;
  margin-left:0.5rem ;
}

.icon-edit:hover::after{
  content: "Edit your Profile";
  padding-left: 5px;
}

.icon-edit-my-notes {
background-color:bisque;
color: black;

margin-top: 2rem;
}
.icon-edit-my-notes:hover {
background-color:bisque;
color: black;
}

.icon-edit-my-notes:hover::after { 
content: " Write your Notes";
}

/* editings  */
.edit-field {

width: 100%;
  margin-left: 0.8rem;
  margin-bottom: 0.6rem;
}

.btn-save {
 background-color: bisque;
  border-radius: 5px;
  color: black;
}

.btn-save:hover {
background-color: rgb(79, 239, 10); 
}
.btn-save-changes {
margin-right: 1rem;
}
.btn-close {
  background-color: black;
  color:white;
  border-radius: 5px;
}
.btn-close:hover{
background-color: rgb(79, 239, 10); 
color: black;
}
.input-choose-image{
margin-top: 0.8rem;
margin-bottom: 0.8rem;
line-height: 1.8rem;
border-radius: 5px;

}

.btn-notes {
margin-top: 1rem;
}
.btn-notes-first{
background-color: rgb(178, 140, 91); ;
}

.textarea-editing{
display: flex;
flex-direction: column;
}
.textarea-before-editing {
display: flex;
flex-direction: column;
}
.profile-logo img{
width: 100%;
padding-right: 6%;
margin-bottom: 1.5rem;
}


/* For iPad mini */
@media (max-width: 1200px) {
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-internal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
}

.section-gold-card {
margin: 0.5rem;
margin-top: auto;
}

.section-my-notes{
margin-top:2rem ;
} 




@media (max-width: 600px) 
{
.main{
  margin-top: 0;
}
.card-internal-container{
 display: flex;
 flex-wrap: wrap;

}
.section-gold-card {
  width: 90%;

  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.profile-picture {
margin-left: 0;
}

.profile-data {
margin-top: 1rem;
display: flex;
flex-direction: column;
align-items: center;
}



.icon-edit {
  margin-left: 7rem;
}
.profile-logo {
width: 80%;
}

 .link-name {
  margin: 0.5rem;
  font-size: 1.5rem;

}

.fa-times-circle {
  margin-top: 0.6rem;
  font-size: 2.5rem;
}


}
