
@import url('https://fonts.googleapis.com/css?family=Abel|Courgette|Cormorant+Garamond');
.wallet-container{
  display: flex;
  width: 100vw;
}

.sidebar{
  width: 15vw;
}
.wallet{
  display: flex;
  color: antiquewhite;
  flex-direction: column;
align-content:space-around;
justify-content: center;
 width: 80vw;
  height: 100vh;
}
.wallet-item{
  font-size: larger;

  color: white;
  border: 2px rgb(152, 148, 148) solid; 
}
.wallet-item td{
  padding: 2rem;
  width: 20%;
}


.total-cart{
  display: flex;
  align-items:center ;
  align-content: center;
    color: white;
  border: 2px rgb(152, 148, 148) solid;
  height: 8rem;
  font-size: 2rem;
}
.total-cart span{
  padding: 5%;
}
.some{
   position: absolute;
right: 10rem;
}