.phonApp{
    display: flex;
    text-align: center;
height: 20%;
   
}
.app-text{
   
    color: goldenrod;
    padding-top:5%;

    width:20rem
  
    
    
}
.app-text h3{
    /* padding: 3rem ; */
    height: 15rem;
    font-size: 3rem;
    border-radius: 20%;
}

@media screen and (min-width: 400px) and (max-width: 1024px) {
    .phonApp{
        width: 90vw;
        height: 30vh;
    }
   .app-img img{
    height: 30vh;
    
   }
   
    
}
#arrowAnim {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding-right: 5rem; */
  }
  
  .arrow {
    width: 5vw;
    height: 5vw;
    border: 2.5vw solid;
    border-color: rgb(235, 228, 228) transparent transparent rgb(235, 228, 228);
    transform: rotate(-45deg);
  }
  
  
  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }
  
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }	
     20% { opacity:1; transform: translateX(9vw); }	
     80% { opacity:1; transform: translateX(-9vw); }	
    100% { opacity:0; transform: translateX(-15vw); }	
  }
  @keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }	
     20% { opacity:1; transform: translateX(9vw); }	
     80% { opacity:1; transform: translateX(-9vw); }	
    100% { opacity:0; transform: translateX(-15vw); }	
  }