.profile-global{
  display: g;
}
.profile-image-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: rgb(230, 234, 238);
   margin-bottom: 3rem;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.profile-info p {
  margin-bottom: 1.8rem;
}

.identity {
  background-color: antiquewhite;
  padding: 10px;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.container {
  margin-top: 30px;
}

.submit-identity {
  border-radius: 5px;
}

