* body {
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
  height: 100%;
  display: flex;
}
/* Sidebar */
.sidebar {
 margin: 0.5%;
  height: 68vh;
  border-radius: 10px;
  background-color: #9f7d1e65;
}



/* Card*/

.card-content {
  margin-left: 9%;
  margin-top: 2rem;
  background-color: #3a3b3b96;
  width: 70vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card-heading {
  display: flex;
  align-items: self-end;
 
  height: 6.5rem;
  background-color: #3a3b3b96;
  border-radius: 10px;
  
}

.card-heading-links .link-name {
  color: white;
  margin:  2rem;
  font-size: 2rem;
}
.card-heading-links .profile-logout {
  color: goldenrod;
  font-size: 2rem;

}
.card-heading-links .profile-logout:hover {
  color: white
}

/* Links Left */

.link-list {
  margin-top: 2rem;
  margin-left: 1rem;
  width: 15vw;
}
.link-list h4 {
  color: white;
  margin-bottom: 2rem;
}
.link-name {
  color: white;
  font-size: 2rem;
}

.info-support {
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
.info-support:hover {
color: bisque;
}

.fa-phone-call,
.fa-envelop {
  display: none;
margin-left: 0.5rem;
}

.fa-phone-callback {
  display: none;
  border-radius: 5px;
  margin-left: 0.5rem;
}

.one:hover .fa-phone-call,
.two:hover .fa-phone-callback,
.three:hover .fa-envelop {
  display: inline-block;
 
}
