.registration{
   
    background-color:rgba(191, 161, 86, 0.216);
color: antiquewhite;
display:grid;
}
.body-registration{
    background-color:rgba(191, 161, 86, 0.216);
    width: 70%;

}
.main-registration{
    height:100%;


}
.registr-img{
   padding: 30%;
}
.icon{
    padding-right: 10px;
 height: 30px;
}
@media screen and (min-width: 400px) and (max-width: 1024px) {
    .main-registration{
        background-color:rgba(191, 161, 86, 0.216);

        height: 90vh;
     width: 100vw;
    }
    .body-registration{
        width: 100%;
    
    }
    
  
    
}
@media screen and  (max-width: 400px) {
  
    .main-registration{
     
        padding: 1rem;
        padding-top: 4em;
       width: 100vw;

    }
    .registration{
        width: 90%;
    }
    .body-registration{
        width: 200px;
    
    }

}