
.testimonial{
 display: flex;
 flex-direction: column;
  border-right: 4px solid #2A3D7D;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 30px 130px;
  margin: 0 15px 30px 15px;
  overflow: hidden;
  position: relative;
  /* width: 15vw; */
}
.testimonial:before{
  content: "";
  position: absolute;
  bottom: -4px;
  left: -17px;
  border-top: 25px solid #e9d41c;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(45deg);
}
.testimonial:after{
  content: "";
  position: absolute;
  top: -4px;
  left: -17px;
  border-top: 25px solid #e9d41c;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(135deg);
}
.testimonial .pic{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
}
.testimonial .pic img{
  width: 100%;
  height: 100%;
}
.testimonial .description{
  font-size: 15px;
  letter-spacing: 1px;
  color: #6f6f6f;
  line-height: 25px;
  margin-bottom: 15px;
  overflow: clip;

}
.testimonial .title{
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e9d41c;
  margin: 0;
}
.testimonial .post{
  display: inline-block;
  font-size: 8px;
  color:#e9d41c;
  font-style:italic;
}
.owl-theme .owl-controls .owl-page span{
  border: 2px solid #2A3D7D;
  background: #fff !important;
border-radius:0 !important;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span{
  background: #e9d41c !important;
border-color:#e9d41c;
}
.owl-carousel{
  display: flex;
  width:70vw;
  height: 30vh;
  /* animation: slide-left 20s;  */
  padding-right: 5%;
}
@keyframes slide-left {
  from {
   margin-left: 100%; width: 300%; 
  }

 to {
   margin-left: 0%; width: 100%;
  }
 }
.row{
  /* width:100%; */
    overflow:hidden; 
}
@media screen and (min-width: 400px) and (max-width: 1024px) {
  .container{
  }
  .owl-carousel{
        width: 50%;

    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
height: 50vh;
padding: 0;
margin: 0;
  }
  .title{
    width: 70%;
    padding: 0;
  }
  .description {
    display: none;
    padding: 0;
    margin: 0;
  }
 .pic{
    display: none;
  }
  .testimonial {
   display: inline;

  }
  .col-md-12{
    padding: 0;
    margin: 0; 
    width: 100%;
  }
}
