.tradingview-widget-container{
    display: flex;
align-items: center; 
flex-direction: column;
    height:80vh; 
}

#tradingview_c1116{
    align-content:space-around;
padding: 3rem;
width: 100%;
height: 80%;
}
